.main-add-barbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    width: 80%;
    min-height: 100%;
    color: #eee;
    overflow: auto;
}

.hold-add-barber{
    width: 100%;
}

fieldset{
    width: 50%;
    margin: 1.2em auto 1.2em auto;
    text-align: center;
}
legend{
    text-align: center;
}

.add-barbers-inputs{    
    margin: 3%;
    padding: 2%;
    width: 60%;
}

.list-input{
    width: 80% !important;
}

.span{
    display: inline-block;
}

.crud-button{
    display: inline-block;
    padding: 1%;
    border: none;
    color: #fff;
    margin: 2%;
    cursor: pointer;
}
.delete{
    background-color: #ff0000;
}
.edit{
    background-color: #294681;
}

.empty{
    margin: 5%;
}

.mid-action-button{
    background-color: #294681;
    color: #eee;
    border: none;
    padding: 1%;
    margin: 2%;
    cursor: pointer;
}
.mid-action-button:hover{
    background-color: #283f6b;   
}

.error{
    color: #e00;
    font-weight: bolder;
}

.hold-barber-detail{
    display: none;
}
.display-block{
    display: block;
    margin-bottom: 3%;
}

.hold-final-action-button {
    margin: 2% auto 2% auto;
    text-align: center;
}

.final-action-button {
    position: relative;
    width: 30%;
    background-color: #eee;
    color: #000;
    margin: auto;
    cursor: pointer;
    border: none;
    padding: 1%;
}

.final-action-button:hover {
    background-color: #aaa;
}


@media only screen and (max-width: 600px) {
    .main-add-barbers {
        width: 90%;
    }

    fieldset {
        width: 80%;
    }
    .span{
        margin: 0;
    }
    .crud-button{        
        padding: 2%;
        margin: 1%;
    }
    .mid-action-button{
        padding: 2%;
        margin: 1%;
    }

    .final-action-button {
        width: 50%;
        padding: 3%;
    }
}
