<div class="main-scheduling">
    <div class="hold-scheduling">

        <app-logged-header title="AGENDAR"></app-logged-header>

        <form [formGroup]="form">
            <mat-calendar [(selected)]="selected" [minDate]="minDate" class="calendar" (click)="getBarbers()">
            </mat-calendar>

            <div>
                <fieldset>
                    <legend>BARBEIROS</legend>

                    <mat-spinner class="spinner" [mode]="mode" *ngIf="isLoadingBarbers">
                    </mat-spinner>

                    <select name="barber" id="" formControlName="barber" (change)="getServices()" *ngIf="!isLoadingBarbers">
                        <option value="" disabled selected>BARBEIROS</option>

                        <option *ngIf="barbers.length <= 0 && errors.size <= 0" disabled selected>ESCOLHA UM DIA
                        </option>

                        <option [value]="barber.userid" *ngFor="let barber of barbers">
                            {{barber.username}}
                        </option>

                    </select>

                </fieldset>
            </div>

            <div>
                <fieldset>
                    <legend>SERVIÇOS</legend>
                    <mat-spinner class="spinner" [mode]="mode" *ngIf="isLoadingServices">
                    </mat-spinner>
                    <select name="service" id="" formControlName="service" (change)="getSchedules()" *ngIf="!isLoadingServices">
                        <option value="" disabled selected>SERVIÇOS</option>

                        <option *ngIf="schedules.length <= 0 && errors.size <= 0 && barbers.length <= 0" disabled
                            selected>ESCOLHA UM DIA
                        </option>

                        <option *ngIf="barbers.length > 0 && form.get('barber')?.invalid" disabled selected>ESCOLHA UM
                            BARBEIRO
                        </option>

                        <option *ngIf="errors.size <= 0 && services.length <= 0 && schedules.length > 0" disabled
                            selected>NÃO HÁ SERVIÇOS CADASTRADOS</option>

                        <option [value]="service.serviceid" *ngFor="let service of services">
                            {{service.servicedescription}}
                        </option>

                    </select>
                </fieldset>
            </div>


            <div>
                <fieldset>
                    <legend>HORÁRIOS DISPONÍVEIS</legend>

                    <mat-spinner class="spinner" [mode]="mode" *ngIf="isLoadingTimes">
                    </mat-spinner>

                    <select name="schedule" id="" formControlName="schedule" *ngIf="!isLoadingTimes">
                        <option value="" disabled selected>HORÁRIOS</option>

                        <option *ngIf="schedules.length <= 0 && errors.size <= 0 && barbers.length <= 0" disabled
                            selected>ESCOLHA UM DIA
                        </option>

                        <option *ngIf="barbers.length > 0 && form.get('barber')?.invalid" disabled selected>ESCOLHA UM
                            BARBEIRO
                        </option>

                        <option *ngIf="services.length > 0 && form.get('service')?.invalid" disabled selected>
                            ESCOLHA UM SERVIÇO
                        </option>

                        <option *ngIf="errors.size > 0 && schedules.length <= 0" class="error" disabled selected>
                            {{errors.get(CONSTANTS.Errors.ERROR)}}</option>

                        <option [value]="schedule.daytimeid" *ngFor="let schedule of schedules">
                            {{schedule.daytimestart!.split(':')[0] + ':' + schedule.daytimestart!.split(':')[1]}}
                        </option>

                    </select>

                </fieldset>
            </div>

            <div *ngIf="userInfo?.get(CONSTANTS.Keys.ROLE) !== CONSTANTS.Roles.USER">
                <fieldset>
                    <legend>TELEFONE DO USUÁRIO</legend>
                    <div>
                        <input type="tel" name="phone" id="phone" formControlName="userPhone" placeholder="Telefone"
                            title="Telefone - (35) 9 9898-9898" mask="(00) 0 0000-0000" [dropSpecialCharacters]="false">

                    </div>
                </fieldset>
            </div>

            <div class="hold-button" *ngIf="!isLoading">
                <button class="final-action-button" (click)="createOrder()">AGENDAR</button>
            </div>

            <div>
                <mat-spinner class="spinner" [mode]="mode" *ngIf="isLoading">
                </mat-spinner>
            </div>

        </form>
    </div>
</div>