.edit-day-time-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    width: 80%;
    min-height: 100%;
    color: #eee;
    overflow: auto;
}
.hold-create-schedule{
    width: 100%;
    overflow: auto;
}
h1{
    margin: 1.2em;    
    text-align: center;
}

.calendar{
    background-color: #fff;
    color: #000;
    width: 50%;
    margin: auto;
}
fieldset{
    width: 50%;
    margin: 1.2em auto 1.2em auto;
    text-align: center;
}
legend{
    text-align: left;
    margin-left: 1.2em;
}

.daytime-input, select{
    padding: 1%;
    width: 50%;
}

.interval-input{
    padding: 1%;
    width: 25%;
}

.list-input{
    width: 80% !important;
}

.span{
    display: inline-block;
}

.crud-button{
    display: inline-block;
    padding: 1%;
    border: none;
    color: #fff;
    margin: 2%;
    cursor: pointer;
}
.delete{
    background-color: #ff0000;
}
.edit{
    background-color: #294681;
}

.empty{
    margin: 5%;
}

.mid-action-button{
    background-color: #294681;
    color: #eee;
    border: none;
    padding: 1%;
    margin: 2%;
    cursor: pointer;
}
.mid-action-button:hover{
    background-color: #283f6b;   
}
.hold-button{
    margin: 2% auto 2% auto;
    text-align: center;
}

.final-action-button{
    width: 30%;
    background-color: #eee;
    color: #000;
    margin: auto;
    cursor: pointer;
    border: none;
    padding: 1%;
}
.final-action-button:hover{
    background-color: #aaa;
}

@media only screen and (max-width: 600px) { 
    .edit-day-time-main{
        width: 90%;
    }
    .calendar{
        width: 80%;
    }
    fieldset{
        width: 80%;   
    }    
    .daytime-input, select{
        padding: 1%;
        width: 60%;
    }
    
    .interval-input{
        padding: 1%;
        width: 25%;
    }
    .span{
        margin: 0;
    }
    .crud-button{        
        padding: 3%;
        margin: 1%;
    }
    .mid-action-button{
        padding: 2%;
        margin: 1%;
    }
    .final-action-button{
        width: 50%;
        padding: 3%;
    }
}