.add-service-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    width: 80%;
    min-height: 100%;
    color: #eee;
    overflow: auto;
}

.hold-add-ads {
    width: 100%;
    overflow: auto;
}

h1 {
    margin: 1.2em;
    text-align: center;
}


table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #eee;
    color: #000;
}

td,
th {
    padding: 1em;
    text-align: center;
}

input[type="text"] {
    padding: 1%;
    width: 60%;
}

.crud-button {
    display: inline-block;
    padding: 3%;
    border: none;
    color: #fff;
    cursor: pointer;
}

.delete-service {
    background-color: #ff0000;
}

.edit {
    background-color: #294681;
}

.empty {
    margin: 5%;
}

.add-button {
    background-color: #294681;
    color: #eee;
    border: none;
    padding: 1%;
    width: 100%;
    cursor: pointer;
}

.add-button:hover {
    background-color: #283f6b;

}

.hold-button {
    margin: 2% auto 2% auto;
    text-align: center;
}

.final-action-button {
    width: 30%;
    background-color: #eee;
    color: #000;
    margin: auto;
    cursor: pointer;
    border: none;
    padding: 1%;
}

.final-action-button:hover {
    background-color: #aaa;
}



@media only screen and (max-width: 600px) {
    .add-service-main {
        width: 90%;
    }

    td,
    th {
        padding: 0.2em;
        text-align: center;
        font-size: 1rem;
    }

    td {
        word-break: break-all;
    }

    input[type="text"] {
        width: 95%;
        padding: 1%;
    }

    .mid-action-button {
        margin: 0;
    }

    .hold-button {
        margin-top: 1.5em;
    }

    .final-action-button {
        width: 50%;
        padding: 3%;
    }

}