.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    width: 80%;
    min-height: 100%;
    color: #eee;
    overflow: auto;
}
.hold-ban{    
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 20pt;
}