<div class="main">
    <div class="hold-logged-location">

        <app-logged-header title="LOCALIZAÇÃO"></app-logged-header>

        <div class="hold-location">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3688.273510581053!2d-45.45572878519534!3d-22.4187290852621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cb7b55eb897499%3A0x9c2e76f0c2eab178!2sR.%20Pref.%20Tigre%20Maia%2C%20443%20-%20Pinheirinho%2C%20Itajub%C3%A1%20-%20MG%2C%2037500-019!5e0!3m2!1spt-BR!2sbr!4v1659921367810!5m2!1spt-BR!2sbr"
                width="850" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" id="map"></iframe>
        </div>

    </div>
</div>