<div class="all-orders-main">
    <div class="hold-all-orders">

        <app-logged-header title="TODOS OS PEDIDOS"></app-logged-header>

        <span class="hold-list-tile">
            <div class="pia" *ngIf="orders.length <= 0 && !isLoading">
                <app-list-tile 
                    title="SEM PRÓXIMOS AGENDAMENTOS"
                    tag="!">
                    
                </app-list-tile>
            </div>

            <div *ngFor="let order of orders" class='pia'>
                <app-list-tile        
                    (dblclick)="markAsAbsent(order)"

                    leading='<img src="assets/barber.ico" alt="Photo" class="pic">'
                    leadingInfo="{{order.order_username}}" tag="{{order.order_servicedescription}}" title="{{order.order_barbername}}"
                    subinfo="
                        <small>
                            <strong>{{order.order_daytimepretty!.split('-')[0]}}</strong>
                            {{order.order_daytimeday | date: 'dd/MM/yyyy'}}
                        </small>"
                    actionText="
                        <span class='{{!order.canCancelOrder ? (order.isabsent ? 'absent':'ok') : 'cancel'}}'>
                            {{!order.canCancelOrder ? (order.isabsent ? '&#9888;':'ok') : 'CAN<wbr>CE<wbr>LAR'}}
                        </span>"
                    [data]="!order.canCancelOrder ? 'OK' : order"
                    (action)="!order.canCancelOrder ? 'OK' : cancelOrder($event)">
                </app-list-tile>
    
            </div>
        </span>

        <div>
            <mat-spinner class="spinner" [mode]="mode" *ngIf="isLoading">
            </mat-spinner>
        </div>


        <!-- 
            <table>
                <tr>
                    <td>CLIENTE</td>
                    <td>SERVIÇO</td>
                    <td>HORÁRIO</td>
                    <td>DIA</td>
                    <td>VALOR</td>
                    <td>BARBEIRO</td>
                    <td>AÇÃO</td>
                </tr>
                <tr *ngIf="orders.length <= 0">
                    <td colspan="7">NENHUM AGENDAMENTO REALIZADO</td>
                </tr>
                <tr *ngFor="let order of orders">
                    <td>{{order.username}}</td>
                    <td>{{order.order_servicedescription}}</td>
                    <td>{{order.daytimepretty!.split('-')[0]}}</td>
                    <td>{{order.daytimeday | date: 'dd/MM/yyyy'}}</td>
                    <td>{{order.order_servicevalue}}</td>
                    <td>{{order.barbername}}</td>
                    <td class="action" *ngIf="order.canCancelOrder" (click)="cancelOrder(order)">CAN<wbr>CE<wbr>LAR
                    </td>
                    <td class="ok" *ngIf="!order.canCancelOrder">OK</td>
                </tr>
            </table>
        -->

    </div>
</div>